html
    head
        title Ubiquity6 Coffee Bot!
        script(src="js/cookies.js")
        script(src="js/server.js")
        script(src="js/index.js")
        link(rel="stylesheet" href="css/styles.css")
body
    p This is the coffee bot admin panel! You can control it manually from here.
    p Current Message:
    textarea(id='messageText' rows=4 cols=100 oninput='index.messageChanged("messageText", "messageButton", "whatever")') #{customData.message}
    br
    button(id='messageButton' type='button' onClick='index.updateMessage("messageText")' disabled=true) Save Edited Message
    br
    button(type='button' onClick='index.scheduleCoffee("channelSelect", "dryRunCheckbox", "user1Select", "user2Select")') Schedule Coffee Now
    | &nbsp; to channel:
    select(id='channelSelect')
        option(value='C6KCQ664Q') #general
        option(value='CK8C04U5U') #diversitytaskforce
    | &nbsp; Dry run
    input(id='dryRunCheckbox' type='checkbox')
    | &nbsp; Primary Person
    select(id='user1Select')
        - const sortedKeys = Object.keys( customData.users ).sort((a,b)=>{return customData.users[a].toLowerCase() > customData.users[b].toLowerCase() ? 1 : -1});
        each key in sortedKeys
            option(value=key) #{customData.users[key].trim()}
    | &nbsp; Secondary Person
    select(id='user2Select')
        each key in sortedKeys
            option(value=key) #{customData.users[key].trim()}
    br
    button(type='button' onClick='index.clearPairs()') Clear Stored Pairs
    br
    | Change Excluded Users:
    - const excludedUsersOnChangeParams = "'addExcludedUsersSelect', 'removeExcludedUsersSelect', '" + JSON.stringify(customData.users) + "', '" + JSON.stringify(sortedKeys) + "'";
    select(id='removeExcludedUsersSelect' onChange='index.removeSelectedExcludedUser(' + excludedUsersOnChangeParams + ')')
        option(value='') Select User To Remove
        each val, key in customData.excludedUsers
            option(value=key) #{customData.users[key] ? customData.users[key].trim() : key}
    | &nbsp;
    select(id='addExcludedUsersSelect' onChange='index.addSelectedExcludedUser(' + excludedUsersOnChangeParams + ')')
        option(value='') Select User To Add
        - for (let keyIndex = 0; keyIndex < sortedKeys.length; keyIndex++) {
            - const key = sortedKeys[keyIndex];
            - if (keyIndex > 0 && !customData.excludedUsers[key]) {
                option(value=key) #{customData.users[key] ? customData.users[key].trim() : key}
            - }
        - }
    br
    div(id='result')